<main>
    <h1>Book Rater</h1>
    @if (currentBook) {
        <div class="book container even-columns">
            <div class="book-img" aria-label="img" style="background-image: url({{currentBook.img}});">
            </div>
            <div class="book-info" aria-label="">
                <h2><span>Title:</span> {{ currentBook.title }}</h2>
                <p><span>Author:</span> {{ currentBook.author }}</p>
                <p><span>Description:</span> {{ currentBook.description }}</p>
                <p><span>Current rating:</span> {{ averageRating() }}</p>
                <div>
                    <p><span>Rate:</span></p>
                    <div id="container" [class.readOnly]="readonly">
                        <fa-icon
                          [class.rated]="starRating >= 5"
                          [icon]="faStar"
                          (click)="setRating(5)"
                        ></fa-icon>
                        <fa-icon
                          [class.rated]="starRating >= 4"
                          [icon]="faStar"
                          (click)="setRating(4)"
                        ></fa-icon>
                      
                        <fa-icon
                          [class.rated]="starRating >= 3"
                          [icon]="faStar"
                          (click)="setRating(3)"
                        ></fa-icon>
                      
                        <fa-icon
                          [class.rated]="starRating >= 2"
                          [icon]="faStar"
                          (click)="setRating(2)"
                        ></fa-icon>
                      
                        <fa-icon
                          [class.rated]="starRating >= 1"
                          [icon]="faStar"
                          (click)="setRating(1)"
                        ></fa-icon>
                      </div>               
                </div>
                <button [disabled]="isButtonDisabled" [ngClass]="isButtonDisabled ? 'btn-disabled' : 'btn'" (click)="nextBook()">Confirm</button>
            </div>
        </div>
        <footer>
            <p> <span>Book </span> {{currentIndex + 1}} / 10 </p>
        </footer>
    }
</main>