@use "../styles.scss" as *;

main {
  display: grid;
  height: 100svh;
  width: 100svw;
  font-size: 1rem;
  & h1 {
    text-align: center;
    font-size: 2rem;
  }
  @include mq(40em){
    font-size: 2rem;
    & h1 {
      font-size: 3rem;
    }
  }
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;
  
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));  
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.display-flex {
  display: flex;
}

.book {
  gap: 2rem;
  padding: .5rem;
  & .book-img {
    justify-self: center;
    height: clamp(420px, 30vw, 820px);
    aspect-ratio: 2/3;
    border: solid 3px var(--clr-text);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mq(60em){
      justify-self: end;
    }
  }
  @include mq(60em){
    grid-template-columns: 50% 50%;
  }
}

.book-info {
  display: grid;
  justify-content: center;
  gap: 1rem;
  height: min-content;
  @include mq(60em){
    justify-content: start;
  }
  & h2 {
    font-size: 2rem;
  }
  & h3 {
    font-size: 1.5rem;
  }
  & p {
    font-size: 1.25rem;
  }
  & span {
    color: var(--clr-secondary);
  }

  & button {
    justify-self: center;
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    @include mq(60em){
      justify-self: start;
    }
  }

  & button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  & button:focus {
    outline: none;
  }

  & button.btn {
    background-image: linear-gradient(
      to right,
      #f5ce62,
      #e43603,
      #fa7199,
      #e85a19
    );
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
  }
}

footer {
  text-align: center;
  span {
    color: var(--clr-secondary);
  }
}



